  .logoBrand {
    color: #0268acc7;
  }
  .brandSlogen {
    font-size: 12px;
    display: block;
    position: absolute;
    top: 31px;
  }
  
  .logoForm {
    color: #0268acc7;
    width: 75px;
    height: 75px;
  }