.cardImgSize{
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    min-height: 100%;
    margin: auto;
}
.imgConteiner{
    height: 0;
    padding-bottom: 80%;
    position: relative;
    overflow: hidden;
  }
 